<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ mix('css/app.css') }}">
    <title>🚀 {{ env('APP_NAME') }}</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <style>
        #menu-toggle:checked + #menu {
            display: block;
        }
    </style>
    <script src="{{ mix('js/app.js') }}" defer></script>
</head>

<body class="antialiased bg-gray-200 h-full">

<div id="app">

{#    <header class="lg:px-16 px-6 bg-white flex flex-wrap items-center py-3 w-full">#}
{#        <div class="flex-1 flex items-center">#}
{#            <a href="/" class="text-2xl font-medium flex">#}
{#                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="32" width="32">#}
{#                    <path fill="red"#}
{#                          d="M256 421.6c-18.1 0-33.2-6.8-42.9-10.9-5.4-2.3-11.3 1.8-10.9 7.6l3.5 51c.2 3.1 3.8 4.7 6.3 2.8l14.5-11c1.8-1.4 4.5-.9 5.7 1l20.5 32.1c1.5 2.4 5.1 2.4 6.6 0l20.5-32.1c1.2-1.9 3.9-2.4 5.7-1l14.5 11c2.5 1.9 6.1.3 6.3-2.8l3.5-51c.4-5.8-5.5-10-10.9-7.6-9.8 4.1-24.8 10.9-42.9 10.9z"/>#}
{#                    <path fill="#244db7"#}
{#                          d="M397.7 293.1l-48-49.1c0-158-93.2-228-93.2-228s-94.1 70-94.1 228l-48 49.1c-1.8 1.8-2.6 4.5-2.2 7.1L130.6 412c.9 5.7 7.1 8.5 11.8 5.4l67.1-45.4s20.7 20 47.1 20c26.4 0 46.1-20 46.1-20l67.1 45.4c4.6 3.1 10.8.3 11.8-5.4l18.5-111.9c.2-2.6-.6-5.2-2.4-7zM256.5 192c-17 0-30.7-14.3-30.7-32s13.8-32 30.7-32c17 0 30.7 14.3 30.7 32s-13.7 32-30.7 32z"/>#}
{#                </svg>#}
{#                <span> {{ env('APP_NAME') }} </span>#}
{#            </a>#}
{#        </div>#}

{#        <label for="menu-toggle" class="pointer-cursor lg:hidden block">#}
{#            <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20"#}
{#                 viewBox="0 0 20 20"><title>menu</title>#}
{#                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>#}
{#            </svg>#}
{#        </label>#}
{#        <input class="hidden" type="checkbox" id="menu-toggle"/>#}

{#        <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">#}
{#            <div class="flex flex-col-reverse lg:flex lg:flex-row lg:w-auto w-full mt-6 lg:mt-0">#}
{#                <nav>#}
{#                </nav>#}
{#            </div>#}
{#        </div>#}
{#    </header>#}

    <main>
        {% if hasFlash('success') %}
            <div class="max-w-4xl mt-10 mx-auto w-full">
                <div class="bg-green-100 text-green-900 mb-2 p-4 text-lg">{{ flash('success') }}</div>
            </div>
        {% endif %}
        {% block content %} {% endblock %}
    </main>
</div>
</body>
</html>
